#title {
    background-color: #8fdbf2;
    overflow: hidden;
}

h1 {
    font-family:'Montserrat',sans-serif;
    font-style: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
  padding-bottom:4.5rem;
  padding-top: 0;
  padding-left: 0;
}

.nav-item{
    padding:0.18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: black; 
}

/* Download Buttons */
.download-button{
    margin:5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(20deg); 
}


/* Feature Section */

#features{
    padding: 7% 15%; 
    background-color: #fff;     
}

.feature-box {
  text-align: center;
  padding: 5%;
  
}

#features h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

#features p {
  color: gray; 
  font-family: 'Montserrat', sans-serif;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #7fdbda;
}

#testimonials h2{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5;
    font-weight: bold;
}

.carousel-item{
    padding:7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin:10px;
}

#press{
    background-color: #7fdbda;
    text-align: center;
}

.press-logo{
    width:10%;
    margin:20px 20px 50px;
}

#pricing{
    padding:80px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pricing-header{
    color: black;
}

.pricing-column{
    padding:3% 2%;
}

/* Call to Action Section CTA */
#cta{
    background-color: #00bcd4;
    color:white;
    padding:7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

/* Footer Section */
#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
}